<button *ngIf="drawer" mat-fab type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()"
  class="menu-toggle-floating-btn" [ngClass]="{'open': drawer.opened}">
  <mat-icon aria-label="Side nav toggle icon">chevron_right</mat-icon>
</button>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>PLING!</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>add</mat-icon>New Room
      </a>
      <hr>
      <a mat-list-item [routerLink]="['room', 'general']" routerLinkActive="active">
        <mat-icon>videocam</mat-icon> General
      </a>
      <a mat-list-item [routerLink]="['room', 'games']" routerLinkActive="active">
        <mat-icon>videocam</mat-icon> Games
      </a>
      <hr>
      <app-user-list></app-user-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-toast-messages></app-toast-messages>
